html {
    font-size: 100%;
    background-color: #fff;
    color: #000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {                                        
    background-color: #000;
    color: #ec9706;
    font-size: .4rem;
    height: 100px;                             /* total height of the header */
    border-bottom: 2px solid #ec9706;          /* practicing border */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

header h1 {
    height: 100%;
    text-align: right;
    margin-right: 10px;
    margin-top: 70px;
}

header a {                      /* header a contains logo image with index.html link - aligned left */
    height: 100%;
    margin-left: 10px;
}

header img{
    height: 30%;            /* resizes the image - logo to 30% of original size */
    margin-top: 10px;
}

nav {
    padding: .5rem 0 .5rem 0;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 2fr));
    justify-items: center;
    list-style-type: none;
}

nav ul li {
    padding: .5rem 3rem .5rem 3rem;
    background-color: #ec9706;
    border: 2px solid #000;
    color: #fff;
    text-align: center;
}

nav ul li a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

nav ul li a:hover{
    color: #fff;
    font-weight: bold;
}

/* cssstyling nav even 2,4 links */
nav ul li:nth-child(even) {
    background-color: #000;
}
nav ul li:nth-child(even) a {
    color: #fff;
}
nav ul li:nth-child(even) a:hover {
    color: #ec9706;
}

.wrapper {
    background-color: #222021;
    color: #fff;
}
/* target the secondary items inside the div wrapper */
/* because it has a id attribute secondary value is denote by # (pound) sign */

#primary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    /* gap: 10px; */
    padding: 0 1rem 0 1rem;
}
#primary h2 {
    background-color: #000;
    text-align: center;
}

#primary h2:hover {
    color: #ec9706;
}

#main_article {
    padding: 0 1rem 0 1rem;
}

figure {
    padding: 1rem 1rem 0 1rem;
    text-align: center;
}

figure p {
    font-size: 0.8rem;
    text-transform: uppercase;
}
figure img {
    max-width: 100%;
    border-radius: 40px;
}

figcaption {
    font-size: 0.8rem;
    text-align: center;
}

figcaption a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

figcaption a:hover{
    color: #ec9706;
}

#secondary {
    background-color: #fff;
    color: #000;
    padding: 1rem 5rem 1rem 2rem;
}

footer {
    display: flex;
    background-color: #000;
    color: #fff;
    padding: 1rem 5rem 1rem 2rem;
    border-top: 2px solid #ec9706;
}