html {
    font-size: 100%;
    background-color: #000;
    color: #fff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {                                        
    background-color: #000;
    font-size: .5rem;
    text-transform: uppercase;
    height: 100px;   
    padding: .5rem;
    border-bottom: 1px solid #fff;
}

header img {                                    /* descendant combinator selector 1 and selector 2 */
    height: 55%;
}
header h1 {                                     /* header h1 contains motto line below logo */
    color: #ec9706;
    justify-items: right;                        /* by default item is aligned left */
    margin-left: 10px;
}

nav {
    padding: 1rem 0 1rem 0;
}

nav ul {                        /* targeting only undistributed list in the page */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    list-style-type: none;
}

nav ul li {                                 /* targeting list in the nave section */
    background-color: #ec9706;
    color: #000;
    border: 1px solid #fff;
    padding: .5rem 3rem .5rem 3rem;
    
}

nav ul li a {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;          /* remove text decoration such as underline */
}

nav ul li a:hover {                /* creating a hover styling for links in list */ 
    color: #fff;
    font-weight: bold;
}     

nav ul li:nth-child(even) {
    background-color: #000;
    color: #ec9706;
    text-decoration: none;
}             
nav ul li:nth-child(even) a {
    background-color: #000;
    color: #ec9706;
    text-decoration: none;
}
nav ul li:nth-child(even) a:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
}


/* div class wrapper styling */
.wrapper {
    background-color: #222021;
}

/* focusing on fig caption - figure element */
figcaption {
    text-align: center;
    font-size: 0.8rem;
}

/*change the link in the figcaption*/
figcaption a {
    background-color: #ec9706;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

/* target the secondary items inside the div wrapper */
/* because it has a id attribute secondary value is denote by # (pound) sign */

#primary h2{
    background-color: #fff;
    color: #000;
}
#primary h2:hover {
    background-color: #ec9706;
    color: #fff;
}


#secondary {
    background-color: #000;
    color: #fff;
}

#secondary h2 {
    background-color: #ec9706;
    color: #000;
}

#secondary a {
    background-color: #ec9706;             /* change external link for better accessibility */
    color: #000;
    text-decoration: none;
}
 

footer {                                    /* changing the footer section */
    background-color: #000;
    color: #fff;
}